<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body onload="setLocationAndInitializeMap()">
<div th:replace="fragments/header :: header"></div> <!-- 헤더 삽입 -->

<div class="form-container">
    <h1>응급상황과 위치를 넣으세요.</h1>
    <p>Request your emergency situation and location details.</p>
    <form action="/recommend_hospital" method="application/x-www-form-urlencoded">
        <div class="input-group">
            <textarea id="request" name="request" rows="4" placeholder="Requests"></textarea>
            <!-- 녹음 버튼 추가 -->
            <button type="button" id="recordButton" class="record-button">🎤 녹음</button>
        </div>
        <p id="request-error" class="error-message" data-message="Request는 필수 입력값입니다."></p>

        <div class="input-group">
            <label for="latitude">Latitude:</label>
            <input type="text" id="latitude" name="latitude" placeholder="Latitude">
        </div>
        <p id="latitude-error" class="error-message" data-message="위도는 필수 입력값입니다."></p>

        <div class="input-group">
            <label for="longitude">Longitude:</label>
            <input type="text" id="longitude" name="longitude" placeholder="Longitude">
        </div>
        <p id="longitude-error" class="error-message" data-message="경도는 필수 입력값입니다."></p>

        <div class="input-group">
            <label for="top_n">검색할 병원 수 (최대 3개):</label>
            <input type="number" id="top_n" name="top_n" value="3" min="1" max="3">
        </div>
        <p id="top_n-error" class="error-message" data-message="검색 병원 수는 1에서 3 사이여야 합니다."></p>

        <!-- 네이버 지도 표시 -->
        <div id="map" style="width: 100%; height: 300px; margin-top: 20px; border: 1px solid #ccc;"></div>

        <input type="submit" id="submit-button" value="Submit" class="submit-enabled">
    </form>
</div>
</body>
</html>
