<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emergency Input</title>
    <link rel="stylesheet" href="/css/main_styles.css">
    <script src="/js/form_validation.js" defer></script> <!-- Validation 스크립트 -->
    <script src="/js/location.js" defer></script> <!-- 위치 정보 스크립트 -->
    <script src="/js/naver_map.js" defer></script> <!-- 네이버 지도 스크립트 -->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ynqwzu7w93"></script>
</head>

<body onload="setLocationAndInitializeMap()">

<header>
    <div class="logo">Aivle School 7차</div>
    <div class="nav-buttons">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#team">Team</a>
        <a href="/board">Board</a>
        <a href="#contact">Contact</a>
        <a href="#">Q&A</a>
    </div>
    <div class="admin-container">
        <a href="/admin" class="admin-button">ADMIN</a>
        <div class="menu-icon" onclick="toggleMenu()">☰</div>
    </div>
</header>

<div class="form-container">
    <h1>응급상황과 위치를 넣으세요.</h1>
    <p>Request your emergency situation and location details.</p>
    <form action="/recommend_hospital" method="application/x-www-form-urlencoded">
        <div class="input-group">
            <textarea id="request" name="request" rows="4" placeholder="Requests"></textarea>
        </div>
        <p id="request-error" class="error-message" data-message="Request는 필수 입력값입니다."></p>

        <div class="input-group">
            <label for="latitude">Latitude:</label>
            <input type="text" id="latitude" name="latitude" placeholder="Latitude">
        </div>
        <p id="latitude-error" class="error-message" data-message="위도는 필수 입력값입니다."></p>

        <div class="input-group">
            <label for="longitude">Longitude:</label>
            <input type="text" id="longitude" name="longitude" placeholder="Longitude">
        </div>
        <p id="longitude-error" class="error-message" data-message="경도는 필수 입력값입니다."></p>

        <div class="input-group">
            <label for="top_n">검색할 병원 수 (최대 3개):</label>
            <input type="number" id="top_n" name="top_n" value="3" min="1" max="3">
        </div>
        <p id="top_n-error" class="error-message" data-message="검색 병원 수는 1에서 3 사이여야 합니다."></p>

        <!-- 네이버 지도 표시 -->
        <div id="map" style="width: 100%; height: 300px; margin-top: 20px; border: 1px solid #ccc;"></div>

        <input type="submit" id="submit-button" value="Submit" class="submit-enabled">
    </form>
</div>

<script>
    function toggleMenu() {
        const navButtons = document.querySelector('.nav-buttons');
        navButtons.classList.toggle('show');
    }
</script>

</body>
</html>
